.complete-registration-container {
  background: url("../../assets/complete-reg.png");
  border-radius: 13px;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.complete-registration-container h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 10px;
}

.complete-registration-container h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.cancel-button {
  background: #FFFFFF;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #57383B;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.register-button {
  background: #57383B;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
