.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79vh;
  background-image: url("../../assets/signin.png");
  background-size: 70% auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 90px;
}

.signup {
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

.sign-in-box {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  width: 400px;
  text-align: center;
  backdrop-filter: blur(10px) brightness(0.9) contrast(1.1);
  -webkit-backdrop-filter: blur(10px) brightness(0.9) contrast(1.1);
}

.title {
  color: white;
  font-size: 24px;
  margin-bottom: 0;
  text-align: center;
  font-weight: 700;
  font-family: "Kyiv*Type Titling";
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
}

.subheading {
  color: white;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
  font-weight: 300px;
  text-align: center;
}

.input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white !important;
  font-size: 16px;
  color: black !important;
}
.input::placeholder {
  color: black !important;
}
.sign-in-button {
  width: 80%;
  padding: 12px;
  margin: 20px 0;
  background-color: #2563ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;

  &:hover {
    background-color: #2866cc;
  }
}

.forgot-password {
  color: white;
  font-size: 14px;
  margin-bottom: 20px;
  display: block;
  text-align: right;

  &:hover {
    text-decoration: underline;
  }
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.social-icon {
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.or {
  width: 350px !important;
}
