.constitution-decoder-container {
  padding: 20px;
  font-family: "Poppins", sans-serif;
  color: #4a403a;
}

.first {
  padding-bottom: 50px;
}

/* Wrapper for the text and image */
.text-image-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

/* Title Image styling */
.title-img {
  width: 100%;
  max-width: 500px;
  display: block;
}

/* Text and Buttons on the Left */
.simplified-guide-text-container {
  flex: 1;
  margin-left: 150px;
}

.simplified-guide-text {
  font-size: 1.4rem;
  color: #57383b;
  margin-bottom: 20px;
}

/* Button styles */
.button-container {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 20px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 250px;
  font-weight: 700;
}

.explore-btn {
  background-color: #57383b;
  color: white;
}

.explore-btn:hover {
  border: 2px solid #57383b;
  color: black;
}

.play-btn {
  color: black;
  border: 2px solid #57383b;
}

.play-btn:hover {
  background: #57383b;
  color: white;
}

/* Image on the Right */
.main-image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}

.main-img {
  max-width: 500px;
  height: auto;
}

/* Preamble Section */

.preamble-section {
  margin-top: 20px;
  padding: 50px;
  padding-bottom: 20px;
  background: #332829;
}

.preamble-container {
  padding: 20px;
  width: 80%;
  max-width: 490px;
  margin: 0 auto;
  line-height: 23px;
  font-size: 16px;
  border-radius: 10px;
  color: #36230d;
}

.preamble-div {
  background-image: url("../../assets/preamble_bg.jpg");
  background-size: 750px 800px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 300px;
  min-height: 80vh;
  text-align: center;
  padding-bottom: 150px;
  border-radius: 2rem;
}

.second-p {
  color: white;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  margin-left: 50px;
}

.wine {
  color: #deab5f;
}

.second-p h1 {
  font-weight: 600;
  font-size: 40px;
  color: white;
}

.word {
  color: #36230d;
  display: inline-block;
}

.word:hover {
  cursor: pointer;
  color: #36230dcd;
}

.meaning-box {
  position: absolute;
  background-color: white;
  color: black;
  border: 2px solid #deab5f;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  font-size: 14px;
  z-index: 1000;
  overflow: hidden;
}

.meaning-box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.meaning-box.left::after {
  top: 50%;
  left: 100%;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #000;
  transform: translateY(-50%);
}

.meaning-box.right::after {
  top: 50%;
  right: 100%;
  border-width: 10px 10px 10px 0;
  border-color: transparent #000 transparent transparent;
  transform: translateY(-50%);
}

/* Constitution Section */
.constitution-section {
  padding: 40px;
  border-radius: 20px;
  min-height: 80vh;
  text-align: center;
  padding-bottom: 50px;
  border-radius: 2rem;
}

.constitution-content {
  text-align: center;
  color: #000;
}

.constitution-content h1 {
  color: #000;
}
