body {
  background-image: url("../../assets/bg-sih.png");
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
}

h1,
h2,
h4 {
  text-align: left;
}

.second-p h1 {
  color: white;
}

.main {
  display: flex;
  justify-content: center;
}

.main .content {
  color: black;
  border: 0.1rem solid rgb(8, 8, 254);
  width: 70%;
  margin-top: 3vh;
}

span {
  color: yellow;
}

.image-1 {
  border: 0.1rem solid rgb(8, 8, 254);
  border-radius: 25px;
  margin: 1rem;
}

.second {
  border: 0.1rem solid rgb(8, 8, 254);
  border-radius: 40px;
}

.third {
  border: 0.1rem solid rgb(8, 8, 254);
  border-radius: 55px;
}

.logo {
  height: auto;
  max-height: 75vh;
  width: 100%;
  border-radius: 60px;
}


.btn-outline-primary {
  position: absolute;
  width: 10%;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  border: 0.2rem solid rgb(8, 8, 254);
  color: white;
  font-size: 16px;
  font-weight: bolder;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 1rem;
}

.btn-outline-primary:hover {
  background-color: #080bba;
  color: white;
}

.meaning-box {
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #080bba;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  font-size: 14px;
  z-index: 1000;
  overflow: hidden;
}

.meaning-box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.meaning-box.left::after {
  top: 50%;
  left: 100%;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #000;
  transform: translateY(-50%);
}

.meaning-box.right::after {
  top: 50%;
  right: 100%;
  border-width: 10px 10px 10px 0;
  border-color: transparent #000 transparent transparent;
  transform: translateY(-50%);
}

.word:hover {
  cursor: pointer;
  color: #36230dcd;
}

.preamble-container {
  padding: 20px;
  width: 80%;
  max-width: 490px;
  margin: 0 auto;
  line-height: 23px;
  font-size: 16px;
  border-radius: 10px;
  color: #36230d;
}

.preamble-div {
  background-image: url("../../assets/preamble_bg.jpg");
  background-size: 750px 800px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 300px;
  min-height: 80vh;
  text-align: center;
  padding-bottom: 150px;
  border-radius: 2rem;
}

.p-content {
  position: absolute;
  top: 20rem;
  left: 30px;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.second-p {
  color: white;
  font-size: 1rem;
  padding: 1rem;
}

.word {
  color: #36230d;
  display: inline-block;
}

.classification-buttons {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping if the screen is too narrow */
  justify-content: center; /* Center the buttons */
  gap: 10px; /* Space between buttons */
  margin-top: 20px;
  width: 50%;
  margin-left: 25%;
}

.classification-buttons .btn {
  padding: 10px 20px; /* Adjust button padding */
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px; /* Make buttons slightly rounded */
}

.modal-body {
  color: white;
  background-color: black;
  font-size: large;
}

.modal-header {
  color: black;
  background-color: white;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .name {
    font-size: 0.5rem;
  }
  .logo {
    height: auto;
    max-height: 8rem;
  }
  .btn,
  .btn-outline-primary {
    position: relative;
    font-size: 0.3rem;
    top: 90%;
    border: 0.1rem solid rgb(8, 8, 254);
  }
  .preamble-container {
    padding: 5px;
    width: 90%;
    line-height: 0.7rem;
    font-size: 0.5rem;
    border-radius: 10px;
    color: #36230d;
    padding-top: 3rem;
    margin-top: 3rem;
  }
  .preamble-div {
    background-image: url("../../assets/preamble_bg.jpg");
    background-size: 26rem 36rem;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 7rem;
    min-height: 80vh;
    text-align: center;
    border-radius: 2rem;
  }
  .second-p {
    color: white;
    font-size: 0.5rem;
    padding: 0.6rem;
  }
  .p-content {
    position: absolute;
    top: 17rem;
    left: 28px;
    padding: 0;
    margin: 0;
    font-size: 20pt;
  }
  .meaning-box {
    display: none;
    max-width: 130px;
    max-height: 120px;
    position: absolute;
    border: 4px solid #342f2f;
    color: #ffffff;
    background-color: #756b52;
    padding: 2px;
    border-radius: 5px;
    font-weight: 900;
    z-index: 900;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 0.5rem;
  }
  .classification-buttons .btn {
    font-size: 12px;
    padding: 8px 16px;
  }
}

@media (max-width: 400px) {
  .preamble-container {
    padding: 5px;
    width: 90%;
    line-height: 0.7rem;
    font-size: 0.5rem;
    border-radius: 10px;
    color: #36230d;
    padding-top: 5rem;
    margin-top: 3rem;
  }
  .preamble-div {
    background-image: url("../../assets/preamble_bg.jpg");
    background-size: 26rem 36rem;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 12rem;
    top: 20%;
    text-align: center;
    border-radius: 2rem;
  }
  .second-p {
    color: white;
    font-size: 0.5rem;
    padding: 0.6rem;
  }
  .p-content {
    position: absolute;
    top: 17rem;
    left: 28px;
    padding: 0;
    margin: 0;
    font-size: 20pt;
  }
  .meaning-box {
    display: none;
    max-width: 130px;
    max-height: 120px;
    position: absolute;
    border: 4px solid #342f2f;
    color: #ffffff;
    background-color: #756b52;
    padding: 2px;
    border-radius: 5px;
    font-weight: 900;
    z-index: 900;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 0.5rem;
  }
  .classification-buttons .btn {
    font-size: 10px;
    padding: 6px 12px;
  }
}

@media (max-width: 1024px) {
  .name {
    font-size: 0.4rem;
  }
  .nav-li {
    font-size: 0.4rem;
  }
  .logo {
    height: auto;
    max-height: 16rem;
  }
  .btn,
  .btn-outline-primary {
    position: relative;
    font-size: 0.4rem;
    top: 90%;
    border: 0.1rem solid rgb(8, 8, 254);
  }
}
