.react-flow__node {
    border-image: linear-gradient(to right, #cd7171 0%, #57383B 100%) 1;
    border-radius: 30px;
    border-width: 4px;
    border-style: solid;
    padding: 2px;
    background: transparent;
    color: black;
    padding: 10px;
}

.react-flow__panel.react-flow__attribution.bottom.right {
    display: none;
}