.react-flow__node {
    border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
    border-radius: 30px;
    border-width: 4px;
    border-style: solid;
    padding: 2px;
    background: transparent;
    color: white;
    padding: 10px;
}