body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  background-color: #fef6f1;
  border: 1px solid #e5e5e5;
  padding: 30px;
  font-size: 21px;
  line-height: 1.5;
  text-align: justify;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #57383b;
  border-radius: 10px;
}

.title-section h1 {
  padding: 15px;
  background: #57383b;
  border-radius: 10px;
  margin: 0;
  font-weight: 500;
  font-size: 28px;
  color: #fffbf5;
  margin-bottom: 30px;
  text-align: left;
  padding-left: 50px;
}

.title-section p {
  color: #4d2c26;
  font-size: 20px;
}

.related-articles-button {
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 12px;
  background: #D68D44 !important;
  border-radius: 10px;
  margin: 0;
  margin-top: 50px;
  font-weight: 500;
  font-size: 28px;
  color: #fffbf5;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 50px;
}

.related-articles-button:hover {
  background-color:  #a76972 !important;
  color: white;
}

.related-articles {
  margin-top: 20px;
}

.article-title {
  padding: 15px;
  margin: 10px 0;
  cursor: pointer;
  transition: color 0.3s;
  border-bottom: 3px solid #f78b28; 
}

.article-title:hover {
  color: #d68e81;
}


.loading-message, .error-message {
  color: #f78b28;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

.list li {
  font-weight: 600;
  margin: 10px;
  color: white;
}

.highlight {
  color: #f78b28;
  font-weight: bold;
}

.description h1 {
  font-weight: 700;
  font-size: 27px;
  color: #4d2c26;
  padding-left: 60px;
}

.description h2 {
  font-weight: 500;
  margin: 60px;
  font-size: 24px;
  color: #000;
}

.description p {
  margin: 60px;
  color: #4d2c26;
  line-height: 1.6;
}

.highlight-role {
  color: #f78b28;
  font-weight: bold;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 15px;
}

.search-input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #57383b !important; 
  width: 25% !important; 
  height: 45px;
  margin-top: 10px;
}

.go-button {
  padding: 5px;
  background: #57383b;
  color: #fffbf5;
  border: none;
  border-radius: 10px;
  margin-top: 9px !important;
  cursor: pointer;
  width: 10%;
  height: 45px;
}

.go-button:hover {
  background-color: #a76972;
}
