.ai-chatbot-section {
  background: #332829 !important;
}

.chatbot {
  width: 900px;
  height: 630px !important;
  background-color: #fffbf5 !important;
  color: black !important;
  border-radius: 15px;
  overflow: hidden;
  font-family: "Arial", sans-serif;
  position: relative;
  display: block;
  border: 5px solid white !important;
  margin: 25px auto;
  z-index: 10;
}

.chatbot-header {
  background-color: #f7e7ca !important;
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #57383b !important;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-logo {
  width: 75px;
  height: auto;
  margin-right: 20px;
}

.chatbot-header h1 {
  margin: 0;
  color: black !important;
  font-weight: 600;
  font-size: 22px;
  text-align: right;
}

.chatbot-messages {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 400px;
  overflow-y: auto;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  max-width: 70%;
  font-size: 14px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: relative;
}

.message.bot {
  background-color: #977272 !important;
  align-self: flex-start;
  color: white !important;
  border: 2px solid white;
  border-radius: 10px;
}

.message.user {
  background-color: #57383b !important;
  border: 2px solid white;
  align-self: flex-end;
  border-radius: 10px;
  color: white !important;
}

.message-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.chatbot-input {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #57383b !important;
  background-color: #f7e7ca !important;
  padding: 10px;
}

.chatbot-input textarea {
  flex: 1;
  padding: 9px;
  border-radius: 15px;
  margin-right: 20px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  font-size: 14px;
  resize: none;
  height: 40px;
  line-height: 1.5;
  overflow-y: auto;
  box-sizing: border-box;
}

.send-icon {
  width: 40px;
  cursor: pointer;
  border: 1px solid black;
  background-color: none !important;
  padding: 0 !important;
}

@media (max-width: 600px) {
  .chatbot {
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    margin: 0;
  }

  .chatbot-header {
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .header-content {
    width: 100%;
  }

  .header-logo {
    width: 50px;
    margin-right: 10px;
  }

  .chatbot-header h1 {
    font-size: 20px;
    text-align: left;
  }

  .chatbot-messages {
    height: calc(100vh - 150px);
    padding: 10px;
  }

  .message {
    font-size: 12px;
    padding: 8px;
    margin-bottom: 10px;
    max-width: 80%;
  }

  .message-logo {
    width: 25px;
    height: 25px;
  }

  .chatbot-input {
    padding: 5px;
    border-top: 1px solid #2c2f48;
  }

  .chatbot-input textarea {
    height: 35px;
    font-size: 12px;
  }
}
