body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #FFFBF5;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 5px;
  background: #FFFBF5;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  text-decoration: none;
  font-size: 20px;
  color: rgb(32, 8, 8);
  font-weight: 900;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-buttons {
  display: flex;
  gap: 20px;
}

.header-btn {
  color: black;
  background: none;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
}

.header-btn:hover {
  background-color: #F7E7CA;
  color: rgb(253, 163, 93);
}

.sticky-logo-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  border-radius: 25%;
  background: #F7E7CA;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  padding: 5px;
}

.sticky-logo-link {
  display: block;
}

.sticky-logo {
  height: 50px;
  width: auto;
  cursor: pointer;
}

.sticky-text {
  color: black;
  font-weight: 600;
  margin-right: 10px;
  position: relative;
  padding: 10px;
}

.close-button {
  width: 24px;
  height: 24px;
  font-size: 16px;
  background: black;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button:hover {
  color: #ff0000;
  background-color: #977272;
}

@media (max-width: 800px) {
  .header-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-buttons {
    gap: 10px;
    margin-top: 10px;
  }

  .name {
    font-size: 1rem;
  }

  .header-btn {
    font-size: 0.9rem;
  }

  .sticky-logo-container {
    bottom: 10px;
    right: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 400px) {
  .name {
    font-size: 0.8rem;
  }

  .header-btn {
    font-size: 0.8rem;
  }

  .sticky-logo {
    height: 50px;
  }
}

@media only screen and (max-width: 480px) {
  .name {
    font-size: 0.6rem;
  }

  .header-btn {
    font-size: 0.7rem;
  }

  .sticky-logo {
    height: 40px;
  }
}
