body {
  background-image: url("../assets/bg-sih.png");
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: black;
  border: 0.1rem solid rgb(8, 8, 254);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-buttons {
  display: flex;
  gap: 20px;
}

.header-btn {
  color: white;
  background: none;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
}

.header-btn:hover {
  background-color: rgb(8, 8, 254);
  color: yellow;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 5vh;
  width: 200px;
  z-index: 999;
  background-color: rgba(64, 63, 63, 0.7);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
  list-style-type: none;
}

.sidebar .nav-li {
  width: 100%;
  color: yellow;
  text-decoration: none;
  font-size: 18px;
}

.yellow {
  color: yellow;
}

main {
  flex: 1;
  border: none;
}

.sticky-logo-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  background: transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  padding: 10px;
}

.sticky-logo-link {
  display: block;
}

.sticky-logo {
  height: 60px;
  width: auto;
  cursor: pointer;
}

.sticky-text {
  color: white;
  margin-right: 10px;
  position: relative;
  padding: 10px;
}

.close-button {
  width: 24px;
  height: 24px;
  font-size: 16px;
  background: black;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button:hover {
  color: #ff0000;
  background-color: blue;
}

/* Mobile responsiveness */
@media (max-width: 800px) {
  .header-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-buttons {
    gap: 10px;
    margin-top: 10px;
  }

  .name {
    font-size: 1rem; /* Adjusted for better readability */
  }

  .header-btn {
    font-size: 0.9rem;
  }

  .sidebar {
    width: 100%;
    top: auto; /* Adjusted for mobile */
    bottom: 0;
    box-shadow: none; /* Remove shadow for mobile */
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }

  .name {
    font-size: 0.8rem;
  }

  .header-btn {
    font-size: 0.8rem;
  }

  .sticky-logo {
    height: 50px;
  }
}

@media only screen and (max-width: 480px) {
  .name {
    font-size: 0.6rem;
  }

  .header-btn {
    font-size: 0.7rem;
  }

  .sticky-logo {
    height: 40px; /* Adjust as needed */
  }
}
