.loading-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    background: #FFFBF5;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

}

.loading-image{
    width: 80%;
    height: auto;
    aspect-ratio: 1/1;
    max-width: 600px;
    max-height: 600px;
}


.loading-cloud-1{
    position: fixed;
    width: 20%;
    max-width: 200px;
    top : 30px;
    left: 60px;
    z-index: 100000;
}

.loading-cloud-2{
    position: fixed;
    width: 20%;
    max-width: 200px;
    top : 30px;
    right: 60px;
    z-index: 100000;
}

.loading-cloud-3{
    position: fixed;
    width: 20%;
    max-width: 200px;
    top : 40px;
    left: 60px;
    z-index: 100000;
}