@import "~semantic-ui-css/semantic.min.css";

.timer-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.timer {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.timer .ui.button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  width: 100px;
}

.timer .ui.button.active {
  background-color: #2185d0;
  color: white;
}

.timer .ui.button:hover {
  background-color: #1678c2;
}

.mute-button {
  background: black;
  opacity: 0.8;
  padding: 0.5rem;
  border: none;
}
