.header-btn.theme-toggle-btn {
  padding: 10px 15px;
  background: var(--button-background);
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
}

.header-btn.theme-toggle-btn:hover {
  background-color: var(--button-hover-background);
  color: var(--button-hover-color);
}
